body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

.todo-container {
    max-width: 800px;
    margin: 10% auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

h1 {
    font-size: 24px;
    color: #333;
}

.input-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
}

span {
    display: flex;
    align-items: center;
}

li button {
    margin-left: 1rem;
}

.editBtn {
    background-color: #009700;
}

.editBtn:hover {
    background-color: #008000;
}

.delBtn {
    background-color: #e00000;
}

.delBtn:hover {
    background-color: #ca0000;
}